[flake8]
# VScode adds blank whitespaces
extend-ignore = W293
max-line-length = 140
per-file-ignores =

    # Imported but unused / Unable to detect names
    __init__.py: F401, F403
    obsidian/dash/*: F401, F403

    # Often creating variables but not accessing them in testing
    obsidian/tests/*: F841

exclude =
    projects/
    demo/
    logs/
    dev/
    source/
    docs/
    build/