:root {
    --obsd-label-color: var(--bs-primary);
    --obsd-text-color: var(--bs-body-color);
    --obsd-form-font-size: 0.7em;
    --obsd-form-lg-font-size: 0.8em;
    --obsd-form-xl-font-size: 1em;
    --obsd-info-color: var(--bs-info, #0dcaf0);
}

.obsd-dashed-box {
    height: 60px;
    line-height: 60px;
    border: 1px dashed;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Base Class */
.obsd-form-text {
    font-size: var(--obsd-form-font-size);
    color: var(--obsd-text-color);
}

/* Utility Classes */
.obsd-text-lg {
    font-size: var(--obsd-form-lg-font-size);
}

.obsd-text-xl {
    font-size: var(--obsd-form-xl-font-size);
}

.obsd-text-normal-style {
    font-style: var(--obsd-help-font-style);
}

.obsd-input-row {
    margin-bottom: 1rem;
}

.obsd-form-label {
    font-weight: bold;
    color: var(--obsd-label-color);
    font-size: var(--obsd-form-lg-font-size);
}

.text-transform-none {
    text-transform: none !important;
}

.d-inline-block {
    display: inline-block;
}

.overflow-x-scroll {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}