
/* https://pydata-sphinx-theme.readthedocs.io/en/stable/user_guide/layout.html#horizontal-spacing */

.bd-main .bd-content .bd-article-container {
  max-width: 100%;  /* default is 60em */
}

.bd-page-width {
  max-width: 100%;  /* default is 88rem */
}